* {
    font-family: Source Sans Pro, Arial, sans-serif;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.register-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 680px;

    .titulo-container {
        justify-content: center;
        align-items: center;
        display: block;
        font-size: 22px;
    }

    .nombre-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    .apellido-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    .correo-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    .contrasenia-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    .telefono-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    .fecnac-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 450px;
        font-size: 18px;
    }

    .show-password-check {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        input {
            width: auto;
            padding: 0;
        }
    }

    button {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 5px;
        width: 150px;
        font-size: 15px;
        color: #000000;
        background-color: #ffffff;
        cursor: pointer;

        &:hover {
            background-color: #ffa500;
        }
    }
}
